# Database settings (SQLite by default, change to postgresql for production)
DATABASE_URL=sqlite:///medibook.db

# JWT Configuration settings
JWT_SECRET_KEY=yoursecretkeyhere
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
